[submodule "content/themes/casper"]
  path = content/themes/casper
  url = https://github.com/TryGhost/Casper.git

[submodule "content/themes/bentley"]
  path = content/themes/bentley
  url = https://bitbucket.org/Caffein8/bentley.git

[submodule "content/themes/casper"]
	path = content/themes/my-journey
	url = https://github.com/dime01/my-journey
